* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    background: linear-gradient(60deg, green, orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: rgba(237, 236, 232, 0.5);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    max-width: 550px; /* Adicionei uma largura máxima */
    width: 90%; /* Alterado para largura em percentual */
    background: transparent;
    border-radius: 40px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 30%; /* Alterado para largura em percentual */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background: rgba(59, 125, 38, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 80px;
    letter-spacing: 3px;
}

.relogio span {
    font-size: 4vw; /* Alterado para fonte responsiva usando vw */
    font-weight: bold;
}

.relogio span.tempo {
    font-size: 1vw; /* Alterado para fonte responsiva usando vw */
}

/* Adicionando uma media query para telas menores (ex. celulares) */
@media only screen and (max-width: 600px) {
    .titulo {
        text-align: center; /* Centralizando o título para telas menores */
        margin-bottom: 10px; /* Ajustando a margem inferior */
    }

    .relogio {
        flex-direction: column; /* Mudando para uma disposição de coluna em telas menores */
        max-width: 80%; /* Reduzindo a largura máxima */
    }

    .relogio div {
        width: 80%; /* Reduzindo a largura dos elementos internos */
        margin-bottom: 10px; /* Ajustando a margem inferior */
    }
}